/* MAIN MIXIN FILE */

/* Media Query mixin */
@mixin mq($width, $type:'min') {
  @if($IE8 == false) {
    @media all and (#{$type}-width: $width) {
      @content;
    }
  }
  @else
  {
    @if ($type == 'min') {
      @content;
    }
  }
}

@mixin chrisCoyier() {
  &:after {
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    clear: both;
  }
}